<%-include('partials/header')%>
<title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</title>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <p>Title</p>
  <input type="test" name="comTitle" value="">
  <p>Post</p>
  <textarea name="comContent" rows="8" cols="80"></textarea>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%-include('partials/footer')%>
